.right-aside-container {
  float: right;
  display: inline-block;
  padding: 50px 0;
  width: 225px;
  .left-aside-list {
    margin-top: 50px;
    min-height: 330px;
    &:first-child {
      margin-top: 0;
    }
  }
}
