.calendar-container {
  margin: 0 auto;
  padding: 10px 10px 0;
  display: block;
  width: 410px;
  height: 410px;
  border: 2px solid #57abff;
  font-size: 18px;

  .calendar-operate {
    .operate-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2%;
      min-width: 20%;
      height: 25px;
      border: 1px solid #57abff;
      border-radius: 6px;
      font-size: 16px;

      img {
        margin: 0 15px;
        width: 25px;
      }
    }
  }

  .calendar-title {
    width: 100%;
    height: 35px;

    .calendar-title-item {
      width: 55px;
      height: 35px;
      text-align: center;
      line-height: 35px;
    }
  }

  .calendar-content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    .calendar-content-item {
      padding: 6px 0;
      width: 55px;
      height: 55px;
      border-top: 1px solid #55aaff;
      text-align: center;
      //line-height: 55px;

      &.calendar-week-day {
        color: #e02d2d;

        .calendar-festival-desc {
          color: #999;
        }
      }

      &.calendar-gray {
        color: #bfbfbf;

        .calendar-festival-desc {
          color: #bfbfbf !important;
        }
      }

      &.calendar-now {
        background: #fb0;
        color: #fff;

        .calendar-festival-desc {
          color: #fff !important;
        }
      }

      &:hover {
        border: 3px solid #fb0;
        cursor: pointer;
      }
    }

    .calendar-festival-desc {
      width: 100%;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}